<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>insert_data</servlet-name>
        <servlet-class>insert_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewdata</servlet-name>
        <servlet-class>viewdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_data</servlet-name>
        <servlet-class>update_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_data</servlet-name>
        <servlet-class>delete_data</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insert_data</servlet-name>
        <url-pattern>/insert_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewdata</servlet-name>
        <url-pattern>/viewdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_data</servlet-name>
        <url-pattern>/update_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_data</servlet-name>
        <url-pattern>/delete_data</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
